<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>background.mp3</string>
	<key>general</key>
	<array>
		<string>Ping.aiff</string>
	</array>
	<key>finish</key>
	<string>Purr.aiff</string>
	<key>start</key>
	<string>Frog.aiff</string>
</dict>
</plist>
