<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>background.mp3</string>
	<key>general</key>
	<array>
		<string>NiceJob2_bip.aif</string>
		<string>Safe2_bip.aif</string>
		<string>YouCan2_bip.aif</string>
		<string>Keep1_bip.aif</string>
		<string>Remember2_bip.aif</string>
		<string>YouGot1_bip.aif</string>
		<string>Hang2_bip.aif</string>
		<string>Almost2_bip.aif</string>
		<string>Pictures2_bip.aif</string>
	</array>
	<key>finish</key>
	<string>YouMade1_bip.aif</string>
	<key>middle</key>
	<string>Halfway1_bip.aif</string>
	<key>start</key>
	<string>Intro2_bip.aif</string>
</dict>
</plist>
