<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start</key>
		<dict>
			<key>fileName</key>
			<string>stop.png</string>
		</dict>
		<key>color</key>
		<string>#ff0000</string>
		<key>images</key>
		<array>
			<dict>
				<key>fileName</key>
				<string>AK-Color-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Denali-Red-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Hummingbird-768.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>Red</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#ffa500</string>
		<key>images</key>
		<array>
			<dict>
				<key>fileName</key>
				<string>Baby-Eyes-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Crab-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Duck-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Glow-768.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#ffff00</string>
		<key>images</key>
		<array>
			<dict>
				<key>fileName</key>
				<string>Baby-Seal-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Ino-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Jackson-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Seal-768.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>Yellow</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#00ff00</string>
		<key>images</key>
		<array>
			<dict>
				<key>fileName</key>
				<string>AK-Rivve-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Dog-Ball-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Frog-768.jpg</string>
			</dict>
			<dict>
				<key>fileName</key>
				<string>Pools-768.jpg</string>
			</dict>
		</array>
		<key>finish</key>
		<dict>
			<key>label</key>
			<string>Great Job!</string>
			<key>fileName</key>
			<string>go.png</string>
		</dict>
		<key>name</key>
		<string>Green</string>
	</dict>
</array>
</plist>
