<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ageFilter</key>
		<dict>
			<key>maximum</key>
			<integer>10</integer>
			<key>minimum</key>
			<integer>2</integer>
		</dict>
		<key>fileName</key>
		<string>IMG_0001_768p.jpg</string>
	</dict>
	<dict>
		<key>ageFilter</key>
		<dict>
			<key>minimum</key>
			<integer>2</integer>
			<key>maximum</key>
			<integer>4</integer>
		</dict>
		<key>fileName</key>
		<string>IMG_0016_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0056_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0111_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0119_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0155_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0176_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_9915_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_9918_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_9930_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hummingbird-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Baby-Eyes-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Crab-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Dolphin-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Duck-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Goat-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0465_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0506_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>IMG_0520_768p.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Orange-Dog-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Pier-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>PR-768.jpg</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Tank-768.jpg</string>
	</dict>
    <dict>
        <key>fileName</key>
        <string>Baby-Seal-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Barking-seals-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Dog-Blue-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>IMG_0186_768p.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>IMG_0222_768p.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>IMG_0271_768p.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Ino-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Ino-Eyes-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Jackson-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Seal-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Seals-faces-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Soft-Flower-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Boy-Dog-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Dog-Ball-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Dog-Face-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Dog-running-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Frog-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Horse-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>IMG_0359_768p.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>IMG_0391_768p.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>IMG_0442_768p.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Mask-768.jpg</string>
    </dict>
    <dict>
        <key>fileName</key>
        <string>Sammy-768.jpg</string>
    </dict>
</array>
</plist>
